body {
    background: rgb(34, 37, 41);
    color:white;
}

/* h1 {
    color: white;
} */
/* 
.content {
    padding-top: 15vmin;
} */

.container {
    padding: 5vmin;
    border-radius: 10px;
} 

.contacts:hover{
    filter: brightness(70%);
    transition: all 0.2s ease;
}

.navlink {
    top: -200px;
}

.schools {
    width: 110px;
    border-radius: 5px;
}